/*
* Game
* Copyright 2013, Game
* October 2013
* Author:  Mike Rockall;
* Email: mike@exordo.ie
*/

/*  Swatches
==================================================
Bright Green = #94c13d

/* #Site Styles
================================================== */

html, body {
  background-color: #303030;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Roboto';
}
body.no_scroll{
  overflow: hidden;
}
h2{
  text-transform: uppercase;
  font-size: 19px;
  color: white;
  font-weight: bold;
  margin: 8px 0 0;
}
p{
  font-weight: 300;
  font-size: 15px;
}
p a{
  font-weight: bold;
  color: white;
}
.container{
  width: 1080px;   
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
    *zoom: 1;
}

span.strong{
  font-weight: bold;
}

/* #Surfaces
================================================== */
.surface-container{
  overflow: hidden;
  height: 100%;
}
.surface-container .surface{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #303030;
  opacity: 1;

  -webkit-transition: all 0.6s cubic-bezier(.18,1,.6,.98);
     -moz-transition: all 0.6s cubic-bezier(.18,1,.6,.98);
       -o-transition: all 0.6s cubic-bezier(.18,1,.6,.98);
          transition: all 0.6s cubic-bezier(.18,1,.6,.98);
}
.surface-container .surface.out{
  opacity: 0;
}

.surface-container .surface .surface-content{
  height: 100%;
  position: relative;
  overflow: auto;
-webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.35);
          box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.35);
}

/* #Loading
================================================== */
.loading{
  z-index: 100;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: #303030;
  text-align: center;
}
.loading span{
  position: absolute;
  top: 50%; left: 50%;
  display: inline-block;
  margin: -30px 0 0 -30px;
  border-width: 30px;
  border-radius: 50%;
  border-style: double;
  border-color: white transparent;
  -webkit-animation: spin 1s linear infinite;
     -moz-animation: spin 1s linear infinite;
       -o-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
  100% { -moz-transform: rotate(359deg); }
}

@keyframes spin {
  100% {  transform: rotate(359deg); }
}

/* #Header
================================================== */
.header{
  background: #276448 url(../images/background.png) center center;
  border-bottom: 8px solid #1F503A;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.header .title{
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 20px;
  position: relative;
}
.header .title svg{
  width: 100%;
  display: block;
  max-height: 600px;
}
.header .title svg.mobile{
  display: none;
  max-height: 300px;
}
.header .title path{
  stroke: white;
  stroke-width: 3;
  stroke-linecap: butt;
  fill: white;
}
.header .title .fancy_r path{
  stroke-width: 4;
  fill: blue;
}
.header .title .subtext path{
  stroke-width: 1;
}

/* All Mobile Widths */
@media only screen and (max-width: 767px) {
  .header .title svg.desktop{
    display: none;
  }
  .header .title svg.mobile{
    display: block;
  }
}

/* #Social
================================================== */
.social{
  text-align: center;
  margin: 35px 0 0;
  padding-bottom: 50px;
}

.social a{
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 30px;
  display: inline-block;
  fill: #525151;
}
.social a:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.social a.twitter:hover{
  fill: #00acee;
}
.social a.facebook:hover{
  fill: #3b5998;
}
.social a.github:hover{
  fill: #171515;
}

/* Jobs
================================================== */
.grid{
  margin: 50px auto 0;
  max-width: 1000px;
  width: 100%;
  color: #333;
}

.grid .column{
  clear: both;
  width: 100%;
  position: relative;
  margin-bottom: 10px;

-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.grid .job{
  position: relative;
  border: 10px solid #383838;
  opacity: 0;

  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  animation-duration: 1.3s;
}
.grid .column:nth-child(2) .job{
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.grid .column:nth-child(3) .job{
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.grid .job img{
  width: 100%;
  height: auto;
  margin-bottom: -4px;

-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.grid .job .overlay{
  z-index: 30;
  content: '';
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: rgba(17,17,17,0.4);

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.grid .job:hover .overlay{
  background: rgba(17,17,17,0.8);
}
.grid .job .title{
  z-index: 40;
  position: absolute;
  top: 50%; left: 50%;
  width: 100%;
  font: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  padding: 8px 14px;
  text-transform: uppercase;

  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.grid .job .logo{
  z-index: 40;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 60%; left: 50%;
  font: 800 18px/100px 'Droid Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  color: #2d5c3e;

  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}
.grid .job .logo.ex-ordo{
  width: 200px;
  height: 42px;
  margin-left: -100px;
  background: url(../images/ex_ordo-logo.png) center center no-repeat;
}
.grid .job .logo.wts{
  width: 200px;
  height: 42px;
  margin-left: -100px;
  background: url(../images/wts-logo.png) center center no-repeat;
}
.grid .job .logo.snake{
  width: 200px;
  height: 42px;
  margin-left: -100px;
  background: url(../images/snake-logo.png) center center no-repeat;
}
.grid .job:hover .logo{
  line-height: 42px;
  background-position: center -100px;
}

/* All Mobile Widths */
@media only screen and (max-width: 767px) {
  .grid .job{
    margin-bottom: 30px;
  }
  .grid .job .logo{
    top: auto;
    bottom: 5%;
  }
}

/* #Snake Model Windows
================================================== */
.surface-container .surface.snake .surface-content{
  overflow: hidden;
}
.surface.snake{
  background-color: #383838;
}
.surface.snake svg{
  background-color: #303030;
}
.snake_container{
  position: relative;
}
.modal_holder .modal{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;

  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.modal_holder .md-show {
  visibility: visible;
}
.modal_holder .overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(143,27,15,0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show ~ .overlay {
  opacity: 1;
  visibility: visible;
}

.md-effect-3 .content {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-3 .content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.md-effect-9 .content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
  -moz-transform: rotateX(-70deg);
  -ms-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.md-show.md-effect-9 .content {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}

.modal .content {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
  background: #276448;
  border: 8px solid #1F503A;
}
.modal .half_col{
  float: left;
  width: 50%;
  padding: 5px 15px;

-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.modal .actions{
  margin-top: 15px;
  text-align: center;
}
.modal .actions a{
  display: inline-block;
  padding: 8px 18px;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: #1F503A;
}
.modal .actions a.tweet{
  background: #474747;
}
.modal .actions a:hover{
  background: #1B3F2F;
}

.results{
  list-style: none;
  padding: 0;
  margin: 1em 0 0;
}
.results li{
  padding: 0 0 4px;
}
.results li .score {
  float: right;
}



/* #Media Queries
================================================== */

/* Large Screens */
@media only screen and (min-width: 1080px) {

}

/* Tablet Portrait width to 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Widths */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Width to Tablet Portrait Width */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}