<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="theme-color" content="#1F503A">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="icon" href="images/favicon.ico" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,900,300' rel='stylesheet' type='text/css'>

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
  <svg id="svg-source" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute">
    <g id="twitter">
      <path d="M100.338,19.11c-3.691,1.638-7.658,2.745-11.822,3.242c4.249-2.548,7.514-6.582,9.051-11.389c-3.979,2.359-8.384,4.073-13.073,4.996c-3.755-4.001-9.105-6.5-15.025-6.5c-13.287,0-23.056,12.4-20.053,25.277c-17.108-0.858-32.277-9.055-42.43-21.508c-5.392,9.25-2.797,21.356,6.371,27.483c-3.374-0.106-6.549-1.032-9.324-2.575C3.809,47.672,10.644,56.59,20.543,58.58c-2.897,0.788-6.071,0.969-9.296,0.352c2.62,8.18,10.222,14.131,19.23,14.297C21.822,80.01,10.922,83.04,0,81.751C9.109,87.592,19.931,91,31.556,91c38.219,0,59.813-32.281,58.511-61.234C94.089,26.864,97.579,23.239,100.338,19.11z"></path>
    </g>
    <g id="github">
      <path d="M93.327,24.979c-4.484-7.684-10.567-13.768-18.25-18.252C67.39,2.242,59.001,0,49.902,0c-9.099,0-17.49,2.242-25.174,6.727C17.043,11.21,10.96,17.294,6.476,24.979S-0.25,41.054-0.25,50.151c0,10.929,3.188,20.756,9.567,29.485c6.378,8.728,14.617,14.769,24.717,18.12c1.175,0.217,2.046,0.064,2.612-0.457s0.849-1.175,0.849-1.958c0-0.131-0.011-1.306-0.033-3.526c-0.022-2.221-0.033-4.158-0.033-5.811l-1.502,0.26c-0.958,0.175-2.166,0.25-3.625,0.228c-1.458-0.02-2.972-0.173-4.539-0.456c-1.567-0.282-3.026-0.935-4.375-1.957c-1.349-1.024-2.306-2.364-2.872-4.018l-0.654-1.503c-0.435-1-1.12-2.111-2.057-3.329c-0.936-1.219-1.882-2.046-2.84-2.481l-0.457-0.325c-0.304-0.219-0.587-0.48-0.849-0.786c-0.261-0.305-0.457-0.608-0.587-0.914c-0.131-0.304-0.022-0.556,0.326-0.752s0.979-0.292,1.894-0.292l1.306,0.195c0.871,0.174,1.948,0.696,3.233,1.567c1.284,0.87,2.339,2.002,3.167,3.395c1.001,1.785,2.208,3.146,3.624,4.081c1.415,0.937,2.841,1.404,4.277,1.404c1.436,0,2.677-0.109,3.722-0.327c1.044-0.217,2.024-0.544,2.939-0.979c0.392-2.918,1.458-5.159,3.199-6.726c-2.481-0.263-4.712-0.655-6.693-1.176c-1.98-0.523-4.027-1.372-6.138-2.549c-2.112-1.175-3.864-2.635-5.257-4.375c-1.393-1.741-2.536-4.027-3.428-6.857c-0.892-2.829-1.338-6.094-1.338-9.795c0-5.269,1.72-9.752,5.159-13.453c-1.611-3.961-1.459-8.401,0.457-13.321c1.262-0.392,3.134-0.098,5.616,0.881c2.481,0.979,4.299,1.818,5.453,2.515c1.154,0.695,2.079,1.285,2.775,1.763c4.05-1.131,8.229-1.697,12.538-1.697s8.489,0.566,12.54,1.697l2.481-1.566c1.697-1.046,3.701-2.003,6.007-2.874c2.308-0.871,4.072-1.11,5.29-0.718c1.959,4.919,2.134,9.359,0.522,13.321c3.439,3.701,5.159,8.185,5.159,13.453c0,3.701-0.447,6.977-1.339,9.828c-0.894,2.852-2.045,5.137-3.46,6.856c-1.416,1.719-3.179,3.167-5.29,4.343c-2.112,1.176-4.158,2.024-6.14,2.548c-1.98,0.521-4.211,0.914-6.692,1.176c2.264,1.959,3.396,5.049,3.396,9.271V95.34c0,0.781,0.272,1.436,0.816,1.956c0.544,0.522,1.403,0.676,2.579,0.458c10.1-3.353,18.339-9.393,24.717-18.122c6.378-8.728,9.566-18.554,9.566-29.484C100.053,41.052,97.81,32.663,93.327,24.979z"></path>
    </g>
    <g id="facebook">
      <path d="M34.73,33.176H24.334v16.971H34.73V100h19.992V49.935h13.949l1.485-16.759H54.723c0,0,0-6.258,0-9.546c0-3.951,0.796-5.516,4.616-5.516c3.075,0,10.818,0,10.818,0V0.718c0,0-11.406,0-13.843,0c-14.876,0-21.583,6.549-21.583,19.093C34.73,30.735,34.73,33.176,34.73,33.176z"></path>
    </g>
  </svg>
  <div class="loading">
    <span></span>
  </div>
  <div id="container" class="surface-container"></div>
  <% if(process.env.IS_PROD){ %>
  <script src="components/requirejs/require.js" data-main="dist/app"></script>
  <% } else { %> 
  <script src="components/requirejs/require.js" data-main="app/main"></script>
  <% } %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49962286-1', 'mikerockall.com');
    ga('send', 'pageview');

  </script>
</body>
</html>
