<div class="content">
  <div class="clearfix">
    <div class="half_col">
      <h3 class="snake_title">Snake</h3>
      <p>Use the arrow keys to move the snake or swipe if you are on a mobile device.</p>
      <p>Eat the candies before they disappear to earn points.</p>
    </div>
    <div class="half_col">
      <div class="actions">
        <a href="#play" class="play">Let's go!</a>
        <a href="https://github.com/mrockall/mikerockall.com" class="dark">View Code on Github</a>
      </div>
    </div>
  </div>
</div>